@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este é um sistema de cadastro de Produtos e Fornecedores que foi desenvolvido através do curso <strong>"Dominando o ASP.NET MVC Core"</strong>, este projeto foi arquitetado e projetado atráves do método de <strong>Scaffold</strong>, que é uma ferramente disponibilizada pelo .NET</p>
    
    <p>Professor: Eduardo Pires - <strong>Microsoft Regional Director - MVP</strong></p>
</div>

<div>
    <p>Link para o site de cursos do Eduardo Pires</p>
    <a href="https://desenvolvedor.io/inicio">Desenvolvedor.io</a>
</div>
